---
import Layout from '../layouts/Layout.astro';
import AboutContent from '../components/AboutContent.svelte';
---

<Layout
  title="About | Aadhav's Portfolio"
  description="Learn more about Aadhav Manimurugan - Full-Stack Developer and Machine Learning Engineer"
>
  <div class="container">
    <div class="content">
      <AboutContent client:load />
    </div>
  </div>
</Layout>

<style>
  .container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #0a0a0a;
  }

  .content {
    position: relative;
    z-index: 10;
    width: 100%;
  }
</style>
